* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #6F5D44;
    color: #FFFFFF;
}

nav {
    text-align: center;
    font-size: larger;
}

.nav_ul li {
    display: inline-block;
    list-style: none;
    margin: 1rem;
}

.nav_enlace {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}